{% extends 'base.html.twig' %}

{% block title %}À propos - CMDESIGN
{% endblock %}

{% block body %}

	<!-- TEXTE HEADER -->
	<div class="container text-header presentation in-left d-flex flex-column justify-content-center">
		<div class="row texte">
			<div class="col-lg">
				<h1 class="text-plein">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-contour">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-contour">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-plein">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-contour">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-contour">Salut, moi c'est Mélissa.</h1>
				<h1 class="text-plein">Salut, moi c'est Mélissa.</h1>
			    </div>
            </div>
		</div>
	</div>

    <!-- PRESENTATION-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-6">
				<img src="{{asset('build/images/img_about.jpg')}}" class="img-fluid"/></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<p>Aujourd’hui je suis ce qu’on appelle une Graphiste. <br/>
					Mais on nous surnomme aussi Designer en communication visuelle ou Designer Graphique. <br/>
					Je suis <span class="underline--magical">graphiste</span>, <span class="underline--magical">web développeuse</span>, prochainement <span class="underline--magical">UX/UI Designer</span>, et une créative dans l’âme.<br/>
					<br/>J’ai aspiré à travailler dans un domaine que j’aime. Passionnée depuis mon plus jeune âge par tout ce qui touche à la 
					<span class="underline--magical">création visuelle</span>, 
					j’ai orienté mon parcours professionnel vers cet univers.<br/><br/>
                    J'ai entamé ma reconversion professionnelle en 2020 chez Brassart où j'ai étudié le design graphique. <br/>
                    J'ai poursuivi ma reconversion à la Wild Code School pour étudier le métier de développeur web full-stack. <br/>
                    A présent je découvre le monde du no-code avec l'outil Bubble, (une application de programmation qui rend simple la programmation d'applications web) en alliant l'UX/UI Design.
					<p class="subheading">Basée dans le Sud de la France, je travaille avec des clients dans le monde entier.</p>
				</div>
			</div>
		</div>




{% endblock %}
