{% extends 'base.html.twig' %}

{% block title %}Accueil - CMDESIGN{% endblock %}

{% block body %}

			<!-- TEXTE HEADER -->
			<div class="container text-header presentation in-left d-flex flex-column justify-content-center">
				<div class="row texte">
					<div class="col-lg">
						<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
						<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
					</div>
				</div>
			</div>
            
{% endblock %}
