{% extends 'base.html.twig' %}

{% block title %}Portfolio - CMDESIGN
{% endblock %}

{% block body %}

	<!-- TEXTE HEADER -->
	<div class="container text-header presentation in-left d-flex flex-column justify-content-center">
		<div class="row texte">
			<div class="col-lg">
				<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-contour">GRAPHISTE WEB DÉVELOPPEUSE</h1>
				<h1 class="text-plein">GRAPHISTE WEB DÉVELOPPEUSE</h1>
			</div>
		</div>
	</div>

		<!-- TEXTE MIDDLE -->
	<div class="container">
		<div class="row">
			<div class="col-lg ms-5">
				<h1>Portfolio</h1>
				<p>Découvrez toutes mes réalisations professionnelles, scolaires et personnelles</p>
			</div>
		</div>
	</div>

	<!-- DESIGN UX/UI -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<img src="{{asset('build/images/sitewebitzel.jpg')}}" class="img-fluid illu w-75">
			</div>

			<div class="col-lg-6 col-md-6 col-sm-12">
				<h1 class="heading"><a href="/designuxui" class="text-contour">UX/UI Design</a></h1>
{# 				<p>Vous avez créé votre entreprise?<br/>
					Une fois votre votre style visuel établi avec de solides fondations, il est temps de réaliser la
					maquette de votre site internet.<br/>
                    CMDESIGN réalise une maquette à votre image, adaptés à vos besoins et qui offrira une
					première impression positive à vos clients.<br/></p> #}
			</div>
		</div>
	</div>
</div>

<br/>
<br/>

<!-- DEVELOPPEMENT WEB -->
<div class="container-fluid site">
	<div class="row site">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center">
			<img src="{{asset('build/images/mise_en_situation_apside.jpg')}}" class="img-fluid illu w-75">
		</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h1 class="heading"><a href="/development" class="text-contour">WEB DESIGN & DÉVELOPPEMENT</a></h1>
{# 				<p>Vous souhaitez développer votre site internet?<br/>
					Une fois la maquette du site internet établi, il est temps de passer à l'étape du développement.<br/>
                    CMDESIGN réalise votre site internet, adaptés à vos besoins et qui offrira une
					première impression positive à vos clients.<br/></p> #}
			</div>
	</div>
</div>

<br/>
<br/>


<!-- IDENTITE VISUELLE -->
<div class="container-fluid site">
	<div class="row site">
		<div class="col-lg-6 col-md-6 col-sm-12 text-center">
			<img src="{{asset('build/images/moodboard_miel.jpg')}}" class="img-fluid illu w-75">
		</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<h1 class="heading"><a href="/graphicdesign" class="text-contour">GRAPHIC DESIGN</a></h1>
{# 				<p>Vous avez besoin de support de communication?<br/>
                    CMDESIGN réalise différents type de prestations, adaptés à vos besoins et qui offrira une
					première impression positive à vos clients.<br/></p> #}
			</div>
	</div>
</div>

{% endblock %}
