<footer>
<div class="container-fluid mt-5">
	<div class="row texte">
		<div class="col-12">
			<p class="letter-spacing">Made with love ♥ Portfolio de CMDESIGN Graphiste Web Développeuse & Designer UX/UI 2021 © Mélissa Callejon - Tous droits réservés</p>
	  	</div>
	</div>
</div>
</footer>




