<footer class="navbar-fixed-bottom letter-spacing" style="position: fixed; bottom: 0; width: 100%;">
  <div class="container-fluid">
    <div class="row texte footer">
      <div class="col-12">
        Made with love ♥ Portfolio de CMDESIGN Graphiste Web Développeuse & Designer UX/UI 2021 © Mélissa Callejon - Tous droits réservés
      </div>
    </div>
  </div>
</footer>


