{# LOGO + NAVBURGER #}

<div class="container-fluid test">
	<div class="row">
		<div class="col-6">
			<a href="/" rel="Accueil">
				<img src="{{asset('build/images/logo.png')}}" class="logo"/></a>
		</div>

        <div class="col-6">
            <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon" />
            <label for="menu-icon"></label>
            <nav class="nav">
                <ul class="pt-5">
                    <li><a href="/" rel="Accueil">Portfolio</a></li>
                    <li><a href="/about">À propos</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
