$primary: #272729;
$secondary: #ead234;
$btn-default: #344054;
$btn-hover: #101828;
$btn-border: #D0D5DD;
$text-btn: #344054;

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

p {
    color: white; 
    font-family: 'karla', sans-serif;
    font-size: 0.6rem;
}

label {
  color: white;
}

td, th {
  color: white;
}

input {
  border-radius: 8px;
}

button.btn-primary {
  color: white;
  background-color: $btn-default;
  border: $btn-default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  height: 36px;
  width: 362px;
  border-radius: 8px;
  margin-top: 16px;
}

.btn-new {
  color: white;
  background-color: $btn-default;
  border: $btn-default;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: absolute;
  height: 36px;
  width: 62px;
  border-radius: 8px;
  margin-top: 16px;
}

button.btn-primary:hover, button.btn-new:hover{
  background-color: $btn-hover;
  border: $btn-hover;
  transition: background-color 0.5s;
}

button.btn-secondary {
  color: $btn-default;
  border: $text-btn;
  background-color: white;
  width: 150px;
  height: 36px;
}

button.btn-secondary:hover {
  background-color: #F9FAFB;
  color: $btn-default;
  border-radius: 8px;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.background {
    background-color: $primary;
}

.p-black {
  color: black;
  font-family: 'karla', sans-serif;
  font-size: 0.9rem;
}

.a-karla {
    font-family: 'Karla';
    font-size: 0.6rem;
    color: white;
}

  a.text-contour:hover{
    background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: width 250ms linear;
    color: $primary;
  }

  a.a-karla:hover{
    background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: width 250ms linear;
    color: white;
  }

  .underline--magical{
	background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
  }

  .span-yellow {
    color: $secondary;
  }

  .letter-spacing {
    letter-spacing: 1px;
    font-size: 0.5rem;
  }

.illu {
  border-radius: 8px;
}