$primary: #1C1C1E;
$secondary: #EEC62A;

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}

p {
    color: white;
    font-family: 'karla', sans-serif;
    font-size: 0.6rem;
}

.background {
    background-color: $primary;
}

.a-contact {
    font-family: 'Karla';
    color: white;
}

a.text-contour:hover{
    background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: width 250ms linear;
    color: $primary;
  }

  a.a-contact:hover{
    background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: width 250ms linear;
    color: white;
  }

  .underline--magical{
	background-image: linear-gradient(120deg, #EEC62A 0%, #EEC62A 100%);
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-position: 0 88%;
	transition: background-size 0.25s ease-in;
  }
