/* HEADER (TEXTE DE PRESENTATION) */

.text-header {
    height: 75vh;
}
div.presentation {
    height: 90vh;
  }
  div.texte {
    text-align: center;
  }
  .text-contour {
    font-size: 2rem;
    -webkit-text-stroke: 1px white;
    color: $primary;
  }
  .text-plein {
    font-size: 2rem;
    color: white;
  }
  
  @media (max-width: 615px) {
    .text-contour {
      font-size: 2rem;
    }
  .text-plein {
      font-size: 2rem;
    }
  div.presentation {
      height: 85vh;
    }
  div.col-12 {
      margin-top: 70px;
    }
  }
  
  @media (max-width: 388px) {
    .text-contour {
      font-size: 1.2rem;
    }
  
    .text-plein {
      font-size: 1.2rem;
    }
  }

  /* EFFET FADE-IN (ANIMATION TEXTE HEADER) */

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
  }
  
  @-moz-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
    }
  }
  
  .in-left {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-duration: 1s;
    animation-delay: 1s;
  }