{% extends 'base.html.twig' %}

{% block title %}Accueil - CMDESIGN
{% endblock %}

{% block body %}

	<!-- TEXTE HEADER -->
	<div class="container text-header presentation in-left d-flex flex-column justify-content-center">
		<div class="row texte">
			<div class="col-lg">
				<h1 class="text-plein">Et si on échangeait ? </h1>
				<h1 class="text-contour">Et si on échangeait ? </h1>
				<h1 class="text-contour">Et si on échangeait ? </h1>
				<h1 class="text-plein">Et si on échangeait ? </h1>
				<h1 class="text-contour">Et si on échangeait ? </h1>
				<h1 class="text-contour">Et si on échangeait ? </h1>
				<h1 class="text-plein">Et si on échangeait ? </h1>
			    </div>
                <div class="row">
                    <div class="col-lg mt-5 mb-5">
                        <p>Une question en particulier ? Une envie de collaborer ? <br/>
                    merci de me contacter directement à l'adresse : <a href="mailto:contact@cmdesign.fr" class="a-contact underline--magical">contact@cmdesign.fr</a></p>
                </div>
            </div>
		</div>
	</div>



{% endblock %}
